@media screen and (min-width: 760px) {
    :root {
        --heading-font: "Lora";
        --body-font: "Roboto";
        --heading-font-weight: bolder;
        --heading-font-size: 2.5rem;
        --heading-text-transform: uppercase;
        --font-size: 1.5rem;
        --font-family: "Roboto", "Lora", Arial;
        --font-weight: 400;
        --line-height: 1.5;
        --margin-bottom: 1.5rem;
        --margin-top: 1.5rem;
    }

    body {
        max-width: 2400px;
    }

    header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .navigation {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        position: static;
        border: none;
        transition: none;
        gap: 1rem;
        padding: 0;
    }

    .navigation a {
        color: black;
        font-size: 1.3rem;
        white-space: nowrap;
        padding: 0.5rem;
    }

    .navigation a:visited {
        color: rgb(245, 9, 9);
    }

    .menu::before {
        display: none;
    }

    h1 {
        font-size: var(--heading-font-size);
    }

    footer {
        font-family: var(--font-family);
        font-size: var(--heading-font-size);
        color: white;
        font-weight: var(--heading-font-weight);
    }

    /* homepage structuting and styling begins here */

    .home {
        font-size: var(--heading-font-size);
        font-weight: var(--heading-font-weight);
        position: absolute;
        padding: 1rem;
        background-color: #F09A3E;
        margin-bottom: var(--margin-bottom);
        left: 50%;
        transform: translateX(-50%);
    }

    .warm {
        top: 600px;
        color: #F09A3E;
        font-family: var(--font-family);
        overflow-wrap: normal;
        font-size: var(--heading-font-size);
        font-weight: var(--heading-font-weight);
        left: 50%;
        transform: translateX(-50%);
        background-color: hsla(240, 100%, 25%, 0.863);
        padding: 1rem 2rem;
    }

    .butt a {
        top: 950px;
        background-color: #F09A3E;
        text-decoration: none;
        padding: 1rem 2rem;
        color: #FFFFFF;
        font-family: var(--body-font);
        font-size: var(--heading-font-size);
        font-weight: var(--heading-font-weight);
        left: 50%;
        transform: translateX(-50%);
    }

    .give a {
        position: absolute;
        top: 1050px;
        margin-top: 1rem;
        background-color: hsla(240, 100%, 25%, 0.863);
        text-decoration: none;
        padding: 0.5rem 2.2rem;
        color: #FFFFFF;
        font-family: var(--body-font);
        font-size: var(--heading-font-size);
        font-weight: var(--heading-font-weight);
        left: 50%;
        transform: translateX(-50%);
    }

    .hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        justify-content: center;
        align-items: start;
        grid-template-rows: auto auto;
        /*Ensures grid fills the section */
        width: 100%;

    }

    .hero h3 {
        font-size: var(--heading-font-size);
        text-align: center;
        grid-column: 1 / -1;
    }

    .hero p,
    #history p,
    #vision p {
        font-family: var(--body-font);
        font-size: var(--font-size);
        text-align: center;
        margin: 0;
        overflow-wrap: break-word;
        hyphens: auto;
    }

    .hero p {
        grid-column: 1/1;
    }

    .hero picture img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
        justify-content: center;
        align-items: center;
        grid-column: 2 / 2;
    }

    #vision p,
    #history p {
        align-items: center;
        justify-content: center;
        grid-column: 1 / 2;
        overflow-wrap: none;
    }
}