:root {
    --heading-font: "Lora";
    --body-font: "Roboto";
    --heading-font-weight: 700;
    --heading-font-size: 1.9rem;
    --heading-text-transform: uppercase;
    --font-size: 1.3rem;
    --font-family: "Roboto", "Lora", Arial;
    --font-weight: 400;
    --line-height: 1.5;
    --margin-bottom: 1.5rem;
    --margin-top: 1.5rem;
}

/*Global fix for padding/border overflow issues */

*,
*::before,
*::after {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */

}

body {
    max-width: 767px;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    font-family: var(--font-family);
    background-color: #F09A3E;
}

header,
section,
footer {
    margin: 0.5rem auto;
    background-color: hsl(240, 25%, 97%);
    color: rgb(5, 5, 5);
    padding: 1.5rem;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1.7rem;
    width: 100%;
    background-color: #FFFFFF;
    align-items: center;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    text-align: center;
}

h1 {
    font-size: 20px;
    text-align: center;
}

/* the homepage styling */

.logo {
    width: 70px;
    height: 70px;
    border-radius: 6px;
}

.menu {
    padding-right: 10px;
}

.menu::before {
    content: "☰";
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.navigation {
    display: none;
    list-style: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: 0.5rem;
    padding: 1rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    background-color: rgb(37, 27, 1);
}

.navigation.open {
    display: flex;
}

.menu.open::before {
    content: "❎";
}

.navigation li {
    padding: 0.5rem 0;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 1rem;
}

.navigation a:visited {
    color: lightgray;
}

.navigation a:hover {
    color: gold;
}

.navigation a:active {
    color: goldenrod;
}

.worship {
    margin-top: 1rem;
    width: 100%;
    position: relative;
}

.home {
    font-size: var(--heading-font-size);
    position: absolute;
    top: 200px;
    padding: 1rem;
    color: #FFFFFF;
    width: 100%;
}

.warm {
    position: absolute;
    top: 300px;
    color: #FFFFFF;
    text-align: center;
    font-family: var(--font-family);
    overflow-wrap: break-word;
    padding: 0 1rem;
}

.butt a {
    position: absolute;
    top: 450px;
    background-color: #F09A3E;
    text-decoration: none;
    padding: 0.5rem 2.2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    color: #FFFFFF;
    font-family: var(--body-font);
    font-size: large;
    justify-content: center;
    align-items: center;
}

.give a {
    position: absolute;
    top: 500px;
    background-color: hsla(240, 100%, 25%, 0.863);
    text-decoration: none;
    padding: 0.5rem 2.2rem;
    color: #FFFFFF;
    font-family: var(--body-font);
    font-size: large;
    justify-content: center;
    align-items: center;
}

.hero,
#history,
#vision {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: start;
    grid-template-rows: auto auto;
    /*Ensures grid fills the section */
    width: 100%;

}

.hero h3,
#history h3,
#vision h3 {
    font-size: var(--heading-font-size);
    text-align: center;
}

.hero p,
#history p,
#vision p {
    font-family: var(--body-font);
    font-size: var(--font-size);
    text-align: center;
    margin: 0;
    overflow-wrap: break-word;
    hyphens: auto;
}

.hero picture img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
}

.images figcaption {
    text-align: center;
    font-family: var(--body-font);
    font-size: var(--font-size);
    font-style: italic;
}

img {
    animation: fade 10s;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

footer {
    text-align: center;
    font-size: 0.95rem;
    color: white;
    font-weight: var(--font-weight);
    background-color: hsla(240, 100%, 25%, 0.863);
}