:root {
    --heading-font: "Roboto";
    --heading-font-weight: bolder;
    --heading-font-size: 1.5rem;
    --heading-text-transform: uppercase;
    --font-size: 1rem;
    --font-family: "Roboto";
    --font-weight: 400;
    --line-height: 1.5;
    --margin-bottom: 1.5rem;
    --margin-top: 1.5rem;
}

body {
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
    min-height: 100vh;
    background-color: white;
}

header,
main,
footer {
    max-width: 768px;
    margin: 0.5rem auto;
    border: 0.2rem solid rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    background-color: hsl(0, 15%, 42%);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

h1,
h2 {
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-size: var(--heading-font-size);
    padding: 2rem;
    color: white;
    text-align: center;
    text-transform: var(--heading-text-transform);
    background-color: hsl(0, 15%, 42%);
    margin: 0;
}

section {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin-bottom: var(--margin-bottom);
    margin-top: var(--margin-top);
    background-color: transparent;
}

.data,
h2 {

    background-color: hsl(0, 15%, 42%);
}


.data-list {
    list-style-type: none;
    background-color: white;
    text-align: center;
    font-size: var(--font-size);
    padding: 10px;
}

.data-list li {
    display: flex;
    align-items: flex-start;
}

.data-list li span:first-child {
    font-weight: bold;
    flex: 0 0 130px;
    color: hsl(0, 0%, 0%);
    text-align: right;
    padding-right: 0.5rem;
}

.data-list li span data[value]::after {
    /*display data value content */
    content: attr(value);
    color: hsl(0, 0%, 0%);
}

.weather {
    background-color: white;
}

.icon {
    width: 100px;
    height: auto;
    margin: 0 auto;
}

footer {
    text-align: center;
    font-size: var(--font-size);
    color: white;
}